/*
Colours
Green-Blue: #105B63;
Off-White: #FFFAD5;
Light Yellow: #FFD34E;
Orange: #DB9E36;
Red: #BD4932;
*/

@font-face {
	font-family: 'tacoFont';
	src: url('src/font/Timoteo.eot');
	src: url('src/font/Timoteo.woff') format('woff'), url('src/font/Timoteo.ttf') format('truetype'), url('src/font/Timoteo.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
	font-family:Calibri, sans-serif;
}

p {
	font-family:Calibri, sans-serif;
}

.banner {
	background-color: #105B63;
}

.banner .container {
	padding-top:20px;
}

.banner li {
	display: inline;
}

.banner a {
	padding-left: 20px;
	padding-right: 20px;
	color: #ffffff;
}

.caretDown {
	display: block;
	margin: auto;
	width: 50px;
	height: 50px;
	padding-top: 10px;
}

.caretUp {
	display: block;
	margin: auto;
	width: 50px;
	height: 50px;
	padding-bottom: 10px;
}

#firstContentIcon {
	width: 250px;
	height: 250px;
}

.firstContent {
	/* background-image: url("src/img/tacosBanner.png"); */
	background-color: #FFFAD5;
	height: 800px;
}

.firstContent a {
	color: red;
	text-decoration: none;
}

.firstContent .container {
	position: relative;
	margin: auto;
	text-align: center;
	top: 150px;
}

.firstContent h1 {
	font-family: 'tacoFont', Calibri, sans-serif;
	color: #b0cd00;
	font-size: 72px;
	font-weight: bold;
	text-shadow: 2px 2px 10px #333333;
}

.firstContent h3 {
	margin: auto;
	text-align: left;
	color: #fff;
	font-family: Calibri, sans-serif;
	text-align: center;
	text-shadow: 2px 2px 10px #333333;
}

#tacoTitle {
	color: red;
}

.introduction {
	background-color: #BD4932;
	color: #fff;
	padding-top: 25px;
	padding-bottom: 25px;
	box-shadow: inset 0px 8px 50px #333333;
	min-height: 100vh;
}

.introduction .container {
	padding-top: 30vh;
	padding-bottom: 30vh;
}

.introduction .thumbnail {
	background: none;
	border: none;
}

.introduction h1 {
	font-family: 'tacoFont', Calibri, sans-serif;
	font-size: 3em;
}

.introduction p {
	font-size: 2em;
}

.infoGraphic {
	background-color: #105B63;
	color: #fff;
	padding-top: 25px;
	padding-bottom: 25px;
	text-align: center;
	box-shadow: inset 0px 8px 50px #333333;
	min-height: 100vh;
}

.infoGraphic .container {
	padding-top: 30vh;
	padding-bottom: 30vh;
}

#tortillasConsumed {
	color: #f7c133;
	font-size: 10em;
}

#seconds {
	color: #f7c133;
	font-size: 2em;
}

.fact1 {
	background-color: #DB9E36;
	color: #fff;
	padding-top: 25px;
	padding-bottom: 25px;
	box-shadow: inset 0px 8px 50px #333333;
	min-height: 100vh;
}

.fact1 .container {
	padding-top: 20vh;
	padding-bottom: 20vh;
}

.fact1 p {
	font-size: 2em;
}

.recipeSection {
	background-color: #FFD34E;
	color: #fff;
	padding-top: 25px;
	padding-bottom: 25px;
	box-shadow: inset 0px 8px 50px #333333;
	min-height: 100vh;
}
.recipeSection .container {
	padding-top: 30vh;
	padding-bottom: 30vh;
}

#tacoVideo {
	display: block;
	margin: auto;
	text-align: center;
}

#tVid {
	box-shadow: 10px 10px 20px #333333;
}

#videoDescription {
	display: block;
	margin: auto;
}


.recipeSection .thumbs {
	padding-top: 10px;
}

.recipeSection h1 {
	font-family: 'tacoFont', Calibri, sans-serif;
	font-size: 3em;
}

.recipeSection p {
	font-size: 2em;
}

.jokes {
	background-color: #BD4932;
	color: #fff;
	padding-top: 25px;
	padding-bottom: 25px;
	box-shadow: inset 0px 8px 50px #333333;
	min-height: 100vh;
}

.jokes .container {
	padding-top: 20vh;
	padding-bottom: 20vh;
}

#mexicanDude {
	width: 300px;
	height: 400px;
	display: block;
	margin: auto;
}

.footnote p {
	font-size: 1em;
}

.logoDoritos {
	text-align: center;
	display: block;
}

#dLogo {
	width: 428px;
	height: 402px;
}

.info {
	background-color: #b0cd00;
	color: #fff;
}

.info a {
	color: #fff;
}