@font-face {
	font-family: 'tacoFont';
	src: url('src/font/Timoteo.eot');
	src: url('src/font/Timoteo.woff') format('woff'), url('src/font/Timoteo.ttf') format('truetype'), url('src/font/Timoteo.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
	font-family:Calibri, sans-serif;
}

p {
	font-family:Calibri, sans-serif;
}

.banner {
	background-color: #b0cd00;
}

.banner .container {
	padding-top:20px;
}

.banner li {
	display: inline;
}

.banner a {
	padding-left: 20px;
	padding-right: 20px;
	color: #ffffff;
}

#firstContentIcon {
	width: 250px;
	height: 250px;
}

.firstContent {
	background-image: url("src/img/tacosBanner.png");
	height: 800px;
}

.firstContent a {
	color: red;
	text-decoration: none;
}

.firstContent .container {
	position: relative;
	margin: auto;
	text-align: center;
	top: 150px;
}

.firstContent h1 {
	font-family: 'tacoFont', Calibri, sans-serif;
	color: #b0cd00;
	font-size: 72px;
	font-weight: bold;
	text-shadow: 2px 2px 10px #333333;
}

.firstContent h3 {
	margin: auto;
	text-align: left;
	color: #fff;
	font-family: Calibri, sans-serif;
	text-align: center;
	text-shadow: 2px 2px 10px #333333;
}

#tacoTitle {
	color: red;
}

.infoGraphic {
	background-color: #5b4e40;
	color: #fff;
	padding-top: 25px;
	padding-bottom: 25px;
	text-align: center;
	box-shadow: inset 0px 8px 50px #333333;
}

.infoGraphic .container {
	margin-bottom: 250px;
	margin-top: 250px;
}

#tortillasConsumed {
	color: #f7c133;
	font-size: 10em;
}

#seconds {
	color: #f7c133;
	font-size: 2em;
}

.recipeSection {
	background-color: #f7c133;
	color: #fff;
	padding-top: 25px;
	padding-bottom: 25px;
	text-align: center;
}

.recipeSection .container {
	margin-top: 150px;
	margin-bottom: 250px;
}

.recipeSection .thumbs {
	padding-top: 10px;
}

.recipeSection h1 {

}

.recipeGallery {
	background-color: #f7c133;
	color: #fff;
	padding-top: 20px;
	padding-bottom: 20px;
}

.recipeGallery h3 {
	font-family: 'tacoFont', Calibri, sans-serif;
	color: #fff;
	font-size: 72px;
	font-weight: bold;
}

.recipeGallery p {
	font-family: Calibri, sans-serif;
	color: #fff;
	font-size: 20px;
	padding-bottom: 20px;
}

.recipeGallery .container {
	margin-top: 25px;
	margin-bottom: 25px;
}

.recipeGallery .thumbnail {
	margin-top: 30px;
}

.info {
	background-color: #b0cd00;
	color: #fff;
}

.info a {
	color: #fff;
}